<h2><%= @name %>様、お問い合わせありがとうございます。</h2><br>
--------------------------------------------------------------------------------------
<p>以下の内容にて、お問い合わせを承りました。<br><%= @message %></p><br>
--------------------------------------------------------------------------------------<br>
今後とも改善を続けていきますので、よろしくお願いいたします。
